@use "sass:math";

$dark: #000;
$gray: #f8f8f8;
$text-gray: #999999;
$text-hover: #939393;


$desk: 1024px;
$tablet: 768px;
$mobile: 500px;

$transition: all 0.3s ease-in-out;

@function toRem($value) {
    $remValue: math.div($value, 16) + rem; 
    @return $remValue;
}
