.categories {
  height: 50px;
  background-color: #fff;
  border-top: 2px solid #f8f8f8;

  &__list {
    display: flex;
    justify-content: space-evenly;

    li {
      font-size: 16px;
      font-weight: 600;
      padding: 15px 10px;
      color: #222222;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
