.product {
  background-color: rgb(255, 255, 255);
  padding: 10px;

  &:hover {
    .product__button {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__button {
    opacity: 0;
    transform: translateY(-50%);
    transition: $transition;
  }
}
