.testimonials {
  margin: 75px 0;

  h2 {
    text-align: center;
    font-size: toRem(25);
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet){
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  }

  &__item {
    max-height: 135px;
    max-width: 420px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    margin: 15px 5px;

    @media (max-width: $tablet){
      max-width: 100%;
  }

    &--name {
      font-size: toRem(14);
      font-weight: 600;
      line-height: 25px;
      text-transform: uppercase;
      letter-spacing: 0.4;
    }

    &--description {
      font-size: toRem(12);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 50px;
      text-align: center;
      margin: 12px 0;
    }

    &--date {
      color: $text-gray;
      font-size: toRem(11);
      font-weight: 400;
    }
  }
}
